name: Dependabot auto-approve
on: pull_request

jobs:
  dependabot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Auto-merge minor and patch updates
        uses: fastify/github-action-merge-dependabot@v3
        with:
          use-github-auto-merge: true
